In [3]:
import pandas as pd

In [4]:
df = pd.read_excel("./01_xlsx/0104.xlsx")

In [5]:
df

,region,provincia,ciudad,dni,candidato,esvalido
0,Amazonas,Condorcanqui,Nieva,58228644,Cynthia Yancy,0
1,Amazonas,Condorcanqui,Nieva,72133897,Raymond Cannon,0
2,Amazonas,Condorcanqui,Nieva,66194409,Stephen Orsborn,0
3,Amazonas,Condorcanqui,Nieva,46647505,Stephen Orsborn,1
4,Amazonas,Condorcanqui,Nieva,26359987,Raymond Cannon,1
...,...,...,...,...,...,...
2223,Amazonas,Condorcanqui,Río Santiago,87058821,Cynthia Yancy,1
2224,Amazonas,Condorcanqui,Río Santiago,71136516,Cynthia Yancy,1
2225,Amazonas,Condorcanqui,Río Santiago,52048932,Raymond Cannon,0
2226,Amazonas,Condorcanqui,Río Santiago,81649067,Raymond Cannon,1
2227,Amazonas,Condorcanqui,Río Santiago,30214331,Raymond Cannon,1